[submodule "syntax_highlighting/fr/pygments/pygments"]
	path = syntax_highlighting/fr/pygments/pygments
	url = https://github.com/pygments/pygments.git
	branch = master
  ignore = dirty

[submodule "syntax_highlighting/nv/pygments/pygments"]
	path = syntax_highlighting/nv/pygments/pygments
	url = https://github.com/pygments/pygments.git
	branch = master
  ignore = dirty
