_build/
_opam/
_python_venv/
dune-workspace*
result
*.install
*.spellok
*.catala*.errors
compiler/**/.merlin
legifrance_oauth*
*.html
.vscode/
.ninja_*
node_modules/
build.ninja
#*#
.#*
.envrc
.direnv
**/__pycache__/

.catleg_secrets.toml
*.tmp/
