'fileTypes' : [
  'catala_pl'
]
'name' : 'catala_pl'
'patterns' : [
  {
    'include' : '#main'
  }
]
'scopeName' : 'source.catala_pl'
'uuid' : ''
'repository' : {
  'main' : {
    'patterns' : [
      {
        'match' : '(^\\s*[\\#]+.*)'
        'name' : 'markup.heading.title.catala_pl'
      }
      {
        'match' : '(^\\s*[\\#]+\\s*\\[[^\\]]\\s*].*)'
        'name' : 'markup.heading.subtitle.catala_pl'
      }
      {
        'match' : '([^\\x{0060}])'
        'name' : 'entity.law.catala_pl'
      }
      {
        'begin' : '(```catala-metadata)'
        'beginCaptures' : {
          '1' : {
            'name' : 'comment.block.documentation.catala_pl'
          }
        }
        'patterns' : [
          {
            'include' : '#code'
          }
        ]
        'end' : '(```)'
        'endCaptures' : {
          '1' : {
            'name' : 'comment.block.documentation.catala_pl'
          }
        }
      }
      {
        'begin' : '(```catala)'
        'beginCaptures' : {
          '1' : {
            'name' : 'comment.block.documentation.catala_pl'
          }
        }
        'patterns' : [
          {
            'include' : '#code'
          }
        ]
        'end' : '(```)'
        'endCaptures' : {
          '1' : {
            'name' : 'comment.block.documentation.catala_pl'
          }
        }
      }
    ]
  }
  'code' : {
    'patterns' : [
      {
        'match' : '(\\s*\\#.*$)'
        'name' : 'comment.line.catala_pl'
      }
      {
        'match' : '(kontekst|wejście|wyjście|wewnętrzny)(\\s*)(|wyjście)(\\s+)([a-z\\x{0105}\\x{0107}\\x{0119}\\x{0142}\\x{0144}\\x{00f3}\\x{015b}\\x{017c}\\x{017a}][a-z\\x{0105}\\x{0107}\\x{0119}\\x{0142}\\x{0144}\\x{00f3}\\x{015b}\\x{017c}\\x{017a}A-Z\\x{0104}\\x{0106}\\x{0118}\\x{0141}\\x{0143}\\x{00d3}\\x{015a}\\x{017b}\\x{0179}0-9_\\\']*)'
        'captures' : {
          '1' : {
            'name' : 'keyword.other.catala_pl'
          }
          '2' : {
            'name' : 'text.catala_pl'
          }
          '3' : {
            'name' : 'keyword.other.catala_pl'
          }
          '4' : {
            'name' : 'text.catala_pl'
          }
          '5' : {
            'name' : 'entity.name.function.catala_pl'
          }
        }
      }
      {
        'match' : '\\b(pasuje|ze\\s+wzorem|staloprzecinkowa|przez|malejacy|rosnacy|rozna|wraz z|mamy|w|takich ze|istnieje|dla|wszystkie|z|jezeli|wtedy|inaczej|poczatkowy)\\b'
        'name' : 'keyword.control.catala_pl'
      }
      {
        'match' : '\\b(zakres|zalezy\\s+od|deklaracja|kolekcja|typu|opcjonalny|struktura|enumeracja|kontekst|wejście|wyjście|wewnętrzny|zasada|pod\\s+warunkuem|czas|konsekwencja|spelnione|wynosi|asercja|definicja|stan|etykieta|wyjątek|cokolwiek)\\b'
        'name' : 'keyword.other.catala_pl'
      }
      {
        'match' : '(\\|[0-9]+\\-[0-9]+\\-[0-9]+\\|)'
        'name' : 'constant.numeric.catala_pl'
      }
      {
        'match' : '\\b(prawda|falsz)\\b'
        'name' : 'constant.catala_pl'
      }
      {
        'match' : '\\b([0-9]+(,[0-9]*|))\\b'
        'name' : 'constant.numeric.catala_pl'
      }
      {
        'match' : '(\\-\\-|\\;|\\.|\\,|\\:|\\(|\\)|\\[|\\]|\\{|\\})'
        'name' : 'punctuation.catala_pl'
      }
      {
        'match' : '(\\-\\>|\\+\\.|\\+\\@|\\+\\^|\\+\\$|\\+|\\-\\.|\\-\\@|\\-\\^|\\-\\$|\\-|\\*\\.|\\*\\@|\\*\\^|\\*\\$|\\*|/\\.|/\\@|/\\^|/\\$|/|\\!|>\\.|>=\\.|<=\\.|<\\.|>\\@|>=\\@|<=\\@|<\\@|>\\$|>=\\$|<=\\$|<\\$|>\\^|>=\\^|<=\\^|<\\^|>|>=|<=|<|=|nie|lub|xor|i|\\$|%|rok|miesiac|dzien)'
        'name' : 'keyword.operator.catala_pl'
      }
      {
        'match' : '\\b(calkowita|zerojedynkowy|czas|czas trwania|pieniądze|warunek|tekst|dziesiętny|suma)\\b'
        'name' : 'support.type.catala_pl'
      }
      {
        'match' : '\\b([A-Z\\x{0104}\\x{0106}\\x{0118}\\x{0141}\\x{0143}\\x{00d3}\\x{015a}\\x{017b}\\x{0179}][a-z\\x{0105}\\x{0107}\\x{0119}\\x{0142}\\x{0144}\\x{00f3}\\x{015b}\\x{017c}\\x{017a}A-Z\\x{0104}\\x{0106}\\x{0118}\\x{0141}\\x{0143}\\x{00d3}\\x{015a}\\x{017b}\\x{0179}0-9_\\\']*)(\\.)([a-z\\x{0105}\\x{0107}\\x{0119}\\x{0142}\\x{0144}\\x{00f3}\\x{015b}\\x{017c}\\x{017a}][a-z\\x{0105}\\x{0107}\\x{0119}\\x{0142}\\x{0144}\\x{00f3}\\x{015b}\\x{017c}\\x{017a}A-Z\\x{0104}\\x{0106}\\x{0118}\\x{0141}\\x{0143}\\x{00d3}\\x{015a}\\x{017b}\\x{0179}0-9_\\\']*)\\b'
        'captures' : {
          '1' : {
            'name' : 'entity.name.class.catala_pl'
          }
          '2' : {
            'name' : 'punctuation.catala_pl'
          }
          '3' : {
            'name' : 'entity.name.function.catala_pl'
          }
        }
      }
      {
        'match' : '\\b([a-z\\x{0105}\\x{0107}\\x{0119}\\x{0142}\\x{0144}\\x{00f3}\\x{015b}\\x{017c}\\x{017a}][a-z\\x{0105}\\x{0107}\\x{0119}\\x{0142}\\x{0144}\\x{00f3}\\x{015b}\\x{017c}\\x{017a}A-Z\\x{0104}\\x{0106}\\x{0118}\\x{0141}\\x{0143}\\x{00d3}\\x{015a}\\x{017b}\\x{0179}0-9_\\\']*)(\\.)([a-z\\x{0105}\\x{0107}\\x{0119}\\x{0142}\\x{0144}\\x{00f3}\\x{015b}\\x{017c}\\x{017a}][a-z\\x{0105}\\x{0107}\\x{0119}\\x{0142}\\x{0144}\\x{00f3}\\x{015b}\\x{017c}\\x{017a}A-Z\\x{0104}\\x{0106}\\x{0118}\\x{0141}\\x{0143}\\x{00d3}\\x{015a}\\x{017b}\\x{0179}0-9_\\\'\\.]*)\\b'
        'captures' : {
          '1' : {
            'name' : 'entity.name.function.catala_pl'
          }
          '2' : {
            'name' : 'punctuation.catala_pl'
          }
          '3' : {
            'name' : 'meta.variable_id.catala_pl'
          }
        }
      }
      {
        'match' : '\\b([a-z\\x{0105}\\x{0107}\\x{0119}\\x{0142}\\x{0144}\\x{00f3}\\x{015b}\\x{017c}\\x{017a}][a-z\\x{0105}\\x{0107}\\x{0119}\\x{0142}\\x{0144}\\x{00f3}\\x{015b}\\x{017c}\\x{017a}A-Z\\x{0104}\\x{0106}\\x{0118}\\x{0141}\\x{0143}\\x{00d3}\\x{015a}\\x{017b}\\x{0179}0-9_\\\']*)\\b'
        'name' : 'entity.name.function.catala_pl'
      }
      {
        'match' : '\\b([A-Z\\x{0104}\\x{0106}\\x{0118}\\x{0141}\\x{0143}\\x{00d3}\\x{015a}\\x{017b}\\x{0179}][a-z\\x{0105}\\x{0107}\\x{0119}\\x{0142}\\x{0144}\\x{00f3}\\x{015b}\\x{017c}\\x{017a}A-Z\\x{0104}\\x{0106}\\x{0118}\\x{0141}\\x{0143}\\x{00d3}\\x{015a}\\x{017b}\\x{0179}0-9_\\\']*)\\b'
        'name' : 'entity.name.class.catala_pl'
      }
    ]
  }
}
