'scopeName': 'source.lawspec'
'name': 'Lawspec'
'fileTypes' : [
  'lawspec'
]
'name' : 'lawspec'
'patterns' : [
  {
    'include' : '#main'
  }
]
'scopeName' : 'source.lawspec'
'uuid' : ''
'repository' : {
  'main' : {
    'patterns' : [
      {
        'begin' : '(@@)'
        'beginCaptures' : {
          '1' : {
            'name' : 'markup.heading.title.lawspec'
          }
        }
        'patterns' : [
          {
            'include' : '#main__1'
          }
        ]
        'end' : '(@@)'
        'endCaptures' : {
          '1' : {
            'name' : 'markup.heading.title.lawspec'
          }
        }
      }
      {
        'begin' : '(@)'
        'beginCaptures' : {
          '1' : {
            'name' : 'markup.heading.subtitle.lawspec'
          }
        }
        'patterns' : [
          {
            'include' : '#main__2'
          }
        ]
        'end' : '(@)'
        'endCaptures' : {
          '1' : {
            'name' : 'markup.heading.subtitle.lawspec'
          }
        }
      }
      {
        'match' : '([^\\/])'
        'name' : 'entity.law.lawspec'
      }
      {
        'begin' : '(\\/\\*)'
        'beginCaptures' : {
          '1' : {
            'name' : 'comment.block.documentation.lawspec'
          }
        }
        'patterns' : [
          {
            'include' : '#code'
          }
        ]
        'end' : '(\\*\\/)'
        'endCaptures' : {
          '1' : {
            'name' : 'comment.block.documentation.lawspec'
          }
        }
      }
    ]
  }
  'code' : {
    'patterns' : [
      {
        'match' : '(\\s*\\#.*$)'
        'name' : 'comment.line.lawspec'
      }
      {
        'match' : '(contexte)(\\s+)([a-z\\x{00e9}\\x{00e8}\\x{00e0}\\x{00e2}\\x{00f9}\\x{00ee}\\x{00ea}\\x{0153}\\x{00e7}][a-z\\x{00e9}\\x{00e8}\\x{00e0}\\x{00e2}\\x{00f9}\\x{00ee}\\x{00ea}\\x{0153}\\x{00e7}A-Z\\x{00c9}\\x{00c8}\\x{00c0}\\x{00c2}\\x{00d9}\\x{00ce}\\x{00ca}\\x{0152}\\x{00c7}0-9_\\\']*)'
        'captures' : {
          '1' : {
            'name' : 'keyword.lawspec'
          }
          '2' : {
            'name' : 'text.lawspec'
          }
          '3' : {
            'name' : 'entity.name.function.lawspec'
          }
        }
      }
      {
        'match' : '(donnée|condition)(\\s+)([a-z\\x{00e9}\\x{00e8}\\x{00e0}\\x{00e2}\\x{00f9}\\x{00ee}\\x{00ea}\\x{0153}\\x{00e7}][a-z\\x{00e9}\\x{00e8}\\x{00e0}\\x{00e2}\\x{00f9}\\x{00ee}\\x{00ea}\\x{0153}\\x{00e7}A-Z\\x{00c9}\\x{00c8}\\x{00c0}\\x{00c2}\\x{00d9}\\x{00ce}\\x{00ca}\\x{0152}\\x{00c7}0-9_\\\']*)'
        'captures' : {
          '1' : {
            'name' : 'keyword.lawspec'
          }
          '2' : {
            'name' : 'text.lawspec'
          }
          '3' : {
            'name' : 'meta.variable_id.lawspec'
          }
        }
      }
      {
        'match' : '\\b(selon|sous\\s+forme|fixé\\s+par|décroissante|croissante|varie\\s+avec|on\\s+a|dans|tel\\s+que|pour|tout|existe|de)\\b'
        'name' : 'keyword.control.lawspec'
      }
      {
        'match' : '\\b(champ\\s+d\'application|si\\s+et\\s+seulement\\s+si|dépend\\s+de|déclaration|inclus|collection|contenu|optionnel|structure|énumération|contexte|règle|sous condition|conséquence|sinon|rempli|égal\\s+à|assertion|définition)\\b'
        'name' : 'keyword.lawspec'
      }
      {
        'match' : '\\b(vrai|faux)\\b'
        'name' : 'constant.lawspec'
      }
      {
        'match' : '\\b([0-9]+(\\.[0.9]*|))\\b'
        'name' : 'constant.numeric.lawspec'
      }
      {
        'match' : '(\\-\\-|\\;|\\.|\\,|\\:|\\(|\\))'
        'name' : 'punctuation.lawspec'
      }
      {
        'match' : '(\\+|\\-|\\*|/|\\!|non|ou|et|=|>|<|\\x{20ac}|%|an|mois|jour)'
        'name' : 'keyword.operator.lawspec'
      }
      {
        'match' : '\\b(entier|booléen|date|montant|décimal|décret|loi|nombre|date_aujourd_hui|somme)\\b'
        'name' : 'support.type.lawspec'
      }
      {
        'match' : '\\b([A-Z\\x{00c9}\\x{00c8}\\x{00c0}\\x{00c2}\\x{00d9}\\x{00ce}\\x{00ca}\\x{0152}\\x{00c7}][a-z\\x{00e9}\\x{00e8}\\x{00e0}\\x{00e2}\\x{00f9}\\x{00ee}\\x{00ea}\\x{0153}\\x{00e7}A-Z\\x{00c9}\\x{00c8}\\x{00c0}\\x{00c2}\\x{00d9}\\x{00ce}\\x{00ca}\\x{0152}\\x{00c7}0-9_\\\']*)(\\.)([a-z\\x{00e9}\\x{00e8}\\x{00e0}\\x{00e2}\\x{00f9}\\x{00ee}\\x{00ea}\\x{0153}\\x{00e7}][a-z\\x{00e9}\\x{00e8}\\x{00e0}\\x{00e2}\\x{00f9}\\x{00ee}\\x{00ea}\\x{0153}\\x{00e7}A-Z\\x{00c9}\\x{00c8}\\x{00c0}\\x{00c2}\\x{00d9}\\x{00ce}\\x{00ca}\\x{0152}\\x{00c7}0-9_\\\']*)\\b'
        'captures' : {
          '1' : {
            'name' : 'entity.name.class.lawspec'
          }
          '2' : {
            'name' : 'punctuation.lawspec'
          }
          '3' : {
            'name' : 'entity.name.function.lawspec'
          }
        }
      }
      {
        'match' : '\\b([a-z\\x{00e9}\\x{00e8}\\x{00e0}\\x{00e2}\\x{00f9}\\x{00ee}\\x{00ea}\\x{0153}\\x{00e7}][a-z\\x{00e9}\\x{00e8}\\x{00e0}\\x{00e2}\\x{00f9}\\x{00ee}\\x{00ea}\\x{0153}\\x{00e7}A-Z\\x{00c9}\\x{00c8}\\x{00c0}\\x{00c2}\\x{00d9}\\x{00ce}\\x{00ca}\\x{0152}\\x{00c7}0-9_\\\']*)(\\.)([a-z\\x{00e9}\\x{00e8}\\x{00e0}\\x{00e2}\\x{00f9}\\x{00ee}\\x{00ea}\\x{0153}\\x{00e7}][a-z\\x{00e9}\\x{00e8}\\x{00e0}\\x{00e2}\\x{00f9}\\x{00ee}\\x{00ea}\\x{0153}\\x{00e7}A-Z\\x{00c9}\\x{00c8}\\x{00c0}\\x{00c2}\\x{00d9}\\x{00ce}\\x{00ca}\\x{0152}\\x{00c7}0-9_\\\'\\.]*)\\b'
        'captures' : {
          '1' : {
            'name' : 'entity.name.function.lawspec'
          }
          '2' : {
            'name' : 'punctuation.lawspec'
          }
          '3' : {
            'name' : 'meta.variable_id.lawspec'
          }
        }
      }
      {
        'match' : '\\b([a-z\\x{00e9}\\x{00e8}\\x{00e0}\\x{00e2}\\x{00f9}\\x{00ee}\\x{00ea}\\x{0153}\\x{00e7}][a-z\\x{00e9}\\x{00e8}\\x{00e0}\\x{00e2}\\x{00f9}\\x{00ee}\\x{00ea}\\x{0153}\\x{00e7}A-Z\\x{00c9}\\x{00c8}\\x{00c0}\\x{00c2}\\x{00d9}\\x{00ce}\\x{00ca}\\x{0152}\\x{00c7}0-9_\\\']*)\\b'
        'name' : 'entity.name.function.lawspec'
      }
      {
        'match' : '\\b([A-Z\\x{00c9}\\x{00c8}\\x{00c0}\\x{00c2}\\x{00d9}\\x{00ce}\\x{00ca}\\x{0152}\\x{00c7}][a-z\\x{00e9}\\x{00e8}\\x{00e0}\\x{00e2}\\x{00f9}\\x{00ee}\\x{00ea}\\x{0153}\\x{00e7}A-Z\\x{00c9}\\x{00c8}\\x{00c0}\\x{00c2}\\x{00d9}\\x{00ce}\\x{00ca}\\x{0152}\\x{00c7}0-9_\\\']*)\\b'
        'name' : 'entity.name.class.lawspec'
      }
    ]
  }
  'main__1' : {
    'patterns' : [
      {
        'match' : '(.)'
        'name' : 'markup.heading.title.lawspec'
      }
    ]
  }
  'main__2' : {
    'patterns' : [
      {
        'match' : '(.)'
        'name' : 'markup.heading.subtitle.lawspec'
      }
    ]
  }
}
