name: Release
on:
  release:
    types:
      - created

jobs:
  vscode:
    name: Publish VS Code extension
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Publish VS Code extension
        working-directory: syntax_highlighting/vscode
        run: npx vsce publish
        env:
          VSCE_PAT: ${{ secrets.VSCE_PAT }}
